<% if user_signed_in? %>
  <li>
  <%= menu_link_to('Logout', destroy_user_session_path) %>        
  </li>
<% else %>
  <li>
  <%= menu_link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
