<% if user_signed_in? %>
  <li>
  <em><%= menu_link_to(current_user.name, profile_path(current_user)) %></em>
  </li>
<% else %>
  <li>
  <%= menu_link_to(t(:sign_up), new_user_registration_path)  %>
  </li>
<% end %>
