- content_for :resource_actions do
  = link_button t(:blog_index), "button back", blogs_path
  = link_button( t(:create_new_posting), "button add", new_blog_posting_path(@blog) ) if can? :create, Posting
  

%div{:style => 'clear: both'}
= render :partial => '/blogs/blog_intro', :locals => { :blog => blog }
