- title t(:editing_blog)


= render :partial => 'form', :locals => {:blog => @blog}

- content_for :resource_actions do
  %p= link_button t(:read_blog), "button read", @blog
  %p= link_button t(:blog_index),"button back", blogs_path
