- title t(:blogs), false


%div
  = will_paginate @blogs

  - @blogs.each do |blog|
    = render :partial => 'blog_intro', :locals => { :blog => blog }
    %p.content_seperator
    
  = will_paginate @blogs