<% title t(:edit_comment) %>

<p><%= t(:back_to) -%>: <%= link_button @commentable.title, "button back small", commentable_show_path %></p>

<%= render :partial => 'edit', :locals => { :comment => @comment, :commentable => @commentable } %>