-title t(:user_groups_of, username: @user.name)
- content_for :resource_actions do
  = link_to t(:your_profile), user_path(@user), :class => 'button back '
  = link_to t(:add_user_group), new_user_user_group_path(@user), :class => 'button add'
%usergroups
  - if @user.user_groups.any?
    = render @user.user_groups
  - else
    .nothing-found= t(:no_user_group_found)
