@media screen {

	@font-face {
		font-family: Delicious;
		font-weight: 300;
		src: url('/fonts/Delicious-Roman.otf');
	}

	@font-face {
		font-weight: 500;
		font-family: Delicious;
		src: url('/fonts/Delicious-Bold.otf');
	}

	@font-face {
		font-weight: 500;
		font-style: italic;
		font-family: Delicious;
		src: url('/fonts/Delicious-BoldItalic.otf');
	}

	@font-face {
		font-family: Delicious;
		font-weight: 300;
		font-style: italic;
		src: url('/fonts/Delicious-Italic.otf');
	}

  body {
    font-family: Delicious, Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background: #FdFeFF;
    background: #FdFeFF -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(1.0,  #FdFeFF),
        color-stop(0.80, #E6E6E6)
    ) repeat-x;
    background: #FdFeFF -moz-linear-gradient(100% 8% 270deg, #FdFeFF, #E6E6E6);
    font-size: 0.9em;
    font-weight: 300;
    font-style: normal;
    color: #4A4A4A;
  }
  a img {
    border: none;
  }
  
  a {
    color: #46506F;
    text-decoration: none;
    border-bottom: 1px dotted #46506F;
  }
    
  a:hover {
    background: #556285;
    color: white;
  }
  
  .clear {
    clear: both;
    height: 0;
    overflow: hidden;
  }
  
  #container {
    width: 75%;
    margin: auto;
    background: #FFF;
    padding: 20px 40px;
    border: none;
  }
  
  #flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
  }
  
  #flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
  }
  
  #flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
  }
  
  .fieldWithErrors {
    display: inline;
  }
  
  .error_messages {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
  }
  
  .error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }
  
  .error_messages p {
    margin: 8px 10px;
  }
  
  .error_messages ul {
    margin: 0;
  }
  
  #session {
    padding: 5px;
    background: #FdFeFF -moz-linear-gradient(100% 8% 270deg, #FdFeFF, #E6E6E6);
    background: #FdFeFF -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.0,  #FdFeFF),
        color-stop(0.80, #E6E6E6),
        color-stop(1.00, #333333)
    ) repeat-x;
    color: #444;
  }
  
  #session a {
    border: none;
  }
  
  .hmenu {
    color: #444;
    margin: 0px;
  }
  
   #session .hmenu a {
    text-decoration: none;
    color: #444;
    padding: 5px;
    padding: 5px;
    border: 1px dotted #AAA;    
    border-bottom :none;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
    
  }
  
  .hmenu_current {
    background: #FdFeFF;
    background: #FdFeFF -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.0,  #EDEDEF),
        color-stop(0.80, #DEDEDE),
        color-stop(1.00, #333333)    ) repeat-x;
    background: #FdFeFF -moz-linear-gradient(100% 8% 0% 270deg, #EDEDEF, #DEDEDE, #333333);
    color: black;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0px 5px 5px 3px #888;
    -webkit-box-shadow:  5px 0px 10px #000;
    box-shadow: 5px 5px 3px #888;
  }
  
  #session .hmenu .hmenu_current {
    border: 1px solid #888;    
    border-bottom :none;
  }
  
  .hmenu a:hover {
    background: #A2ADC5;
    color: black;
    background: #FdFeFF;
    background: #FdFeFF -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.0, #D8DEE3),
        color-stop(0.8, #E6E6E6),
        color-stop(1.00, #333333)    ) repeat-x;
    ) repeat-x;
    background: #FdFeFF -moz-linear-gradient(100% 8% 0% 270deg, #D8DEE3, #E6E6E6, #333333);
    
  }
  
  ul.hmenu {
    list-style-type: none;
    display: inline;
    margin: 0px;
    padding: 0px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  ul.hmenu li {
      display: inline;
      margin: 0px;
      padding: 5px;
      padding-left: 0px;
      padding-right: 0px;
  }
  
  
  .user_edit p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
  }
  
  .user_edit address {
    margin-left: 210px;
    font-size: 0.7em;
  }
  
  label {
    width: 200px;
    float: left;
  }
  
  input {
    display: inline;
  }
  
  #error_explanation {
    background-color: #FCC;
    border: solid 1px #C66;
    padding: 10px;
    padding-top: 0px;
    margin-bottom: 20px;
  }
  
  .field {
    margin-bottom: 5px;
  }
  
  .field_with_errors {
    color:  #95150B;
    padding: 0px;
    margin: 0px;
  }
  
  #container .omniauth_mini_icons {
    margin: 0px;
    padding: 0px;
    width: 32px;
    height: 32px;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  #userlist {
    list-style-type: none;
  }
  
  #userlist li {
    clear: left;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: 100px;
  }
  
  #container img {
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid #ddd;
    -moz-box-shadow: 5px 5px 3px #888;
    -webkit-box-shadow: 5px 5px 3px #888;
    box-shadow: 5px 5px 3px #888;
  }
  
  #userlist img {
    float: left;
    margin-left: -100px;
    margin-right: 10px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid #ddd;
    width: 64px;
    height: 64px;
  }
  
  .user_detail {
    list-style-type: none;
    margin-left: -110px;
  }
  
  .user_detail li {
    margin: -5px;
    padding: 0px;
    font-size: 0.8em;
  }
  
  .admin {
    background: #E1B6B9;
    padding: 1px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    border: 1px solid #ddd;
  }
  
  #container .authentications {
    margin-bottom: 30px;
  }
  
  #container .authentication {
    float: left;
    background-color: #EEE;
    border: solid 1px #999;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    margin-right: 10px;
  }
  
  #container .authentication .remove {
    text-decoration: none;
    position: absolute;
    top: 3px;
    right: 3px;
    color: #333;
    padding: 2px 4px;
    font-size: 10px;
  }
  
  #container .authentication .remove:hover {
    color: #FFF;
    background-color: #777;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  
  #container .authentication img {
    border: none;
    float: left;
  }
  
  #container .auth_provider img,
  #container .auth_provider {
    -moz-box-shadow:     none;
    -webkit-box-shadow:  none;
    box-shadow: none; 
  }
  
  
  #container .authentication .provider, #container .authentication .uid {
    margin-left: 38px;
    margin-right: 20px;
  }
  
  #container .authentication .provider {
    font-weight: bold;
  }
  
  #container .authentication .uid {
    color: #666;
    font-size: 11px;
  }
  
  #container .auth_provider img {
    border: none;
    display: block;
  }
  
  #container .auth_provider {
    float: left;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  #copyright
  {
    clear: both;
    margin-top: 5px;
    font-size: 0.7em;
    text-align: center;
    color: #444;
  }
  #copyright a {
    color: #444;
    text-decoration: none;
  }
  
  #action_buttons {
    float: right;
    padding: 5px;
    text-align: center;
    background-color: #206024;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  #action_buttons a {
    text-decoration: none;
    color: white;
  }

  .pagination {
  	text-align: center;
  	margin: 10px;
  }
  
  .pagination em {
    font-style: normal;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    background: #818DA9;
    padding: 3px;
    color: white;
  }
  
  .pagination a {
    text-decoration: none;
   }
  
  .pagination .current {
  	background: #818DA9;
  	color: white;
  	padding: 3px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
  }
  
  #comments p  {
    margin: 0px;
    margin-bottom: 5px;
  }
  #comments address {
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  
  #banner {
    height: 150px;
    background: #FdFeFF -webkit-gradient(
         linear,
         left top,
         left bottom,
         color-stop(1.0,  #FdFeFF),
         color-stop(0.80, #E6E6E6)
     ) repeat-x;
     background: #FdFeFF -moz-linear-gradient(100% 8% 270deg, #FdFeFF, #E6E6E6);
     overflow: hidden;
  }
  
  #banner h1 {
    font-family: Times new roman, sans;
    margin: 0px;
    padding: 0px;
    margin-left: 40px;
    font-size: 6em;
    color: #292929;
    text-shadow: 4px 4px 4px #888;
    overflow: hidden;
  }
  
  #banner address {
    font-family: Delicious;
    font-weight: 100;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    overflow: hidden;
  }

  .content_seperator {
    height: 3px;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FdFeFF -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(1.0,  #FdFeFF),
      color-stop(0.80, #E6E6E6)
    ) repeat-x;
    background: #FdFeFF -moz-linear-gradient(100% 8% 270deg, #FdFeFF, #E6E6E6);
  }  
  
  .page_intro {
    min-height: 160px;
  }
  
} /* END SCREEN */

