<h3><%= @notify_subject %></h3>


<% [ :confirmation_sent_at,
     :confirmed_at,:created_at,
     :current_sign_in_at,
     :current_sign_in_ip,
     :email,
     :last_sign_in_at,:last_sign_in_ip,
     :name,
     :roles_mask,
     :sign_in_count,:updated_at,
     :use_gravatar
   ].each do |attribute| -%>
    <p>
      <strong><%= attribute.to_s.humanize -%></strong> 
      <%= @user.send(attribute) -%>
    </p>
   <% end %>
%>


