<h1><%= @notify_subject -%></h1>

<b>English</b>
<p>
  You're invited to sign up to our service.
  If you accept this invitaton, please visit the <%= link_to( 'Sign Up', @sign_up_url )-%> page.
  If you don't want to accept the invitation, just ignore this mail and take no action.
</p>

<b>Deutsch</b>

<p>
  Sie wurden eingeladen, sich bei unseren Service anzumelden.
  Falls Sie diese Einladung akzeptieren, besuchen Sie bitte die Seite <%= link_to( 'Registrieren', @sign_up_url ) -%>
  Falls nicht, ignorieren Sie bitte diese Nachricht einfach.
</p>

<% unless @message.blank? %>
  <p>
    <%= @message -%>
  </p>
<% end %>


