- title t(:user_notifications) 

%p= t(:you_have_count_notifications, :count => @notifications.count ) 

- if @notifications.any?
    = render :partial => 'users/notifications', :locals => { :user_notifications => @notifications }

