<% title t("userlist.user_profile", :name => @user.name ) %>

<% if @user.avatar %>
    <%= link_to_function( image_tag( w3c_url(@user.avatar_url(:thumb)), :style=>'float: right' ), 
               "image_popup('#{w3c_url(@user.avatar_url(:popup))}')")
    %> 
<% end %>

<p>User: <%= @user.name %></p>


<p style='clear: both;'>
    <% if user_signed_in? && current_user == @user %>
      <%= link_to t(:edit_profile), edit_registration_path(@user)%>
    <% end %>
</p>