<% if user_signed_in? && current_user.role?(:maintainer) %>
  <%= partial_title %>
  <div class='field'>
    <%= f.label :roles_mask %>
    <%= f.select :roles_mask, options_for_user_role %>
  </div>
<% end %>