.fields{ :style=>'margin-top: 10px;' }
    .field
        - if f.object && f.object.file_file_name
            = f.label( "<b>".html_safe +                                                           |
                  link_to( f.object.file_file_name, f.object.file.url(:original) )+                |
                  " " +                                                                           |
                  (f.object.file_file_size/1024).round.to_s+" KB, "+f.object.file_content_type, |
                      :style => 'width: 100%;'                                                     |
                    )+                                                                             |
                    "</b>".html_safe                                                              |
        - else
            = f.label :file

        %br
        = f.file_field :file
        = link_to_remove_fields( t(:destroy_asset), f )

