<% title APPLICATION_CONFIG['name'] + " " + t(:welcome), false %>
<% setup_action_buttons %>


<% if (p=Page.top_pages).any? %>
  <div>
    <% for page in p %>
      <%= render :partial => '/pages/page_intro', :locals => { :page => page } %>  
      <p class='content_seperator'></p>
    <% end %>
  </div>
<% end %>

