<% style = '' unless defined? style %>
<% if !page.new_record && page.cover_picture %>
  <div class='cover_picture' id='cover_picture_<%= page.id -%>' style='<%= style -%>'>
      <%= image_tag page.cover_picture.url(format||:medium) %>
  </div>
<% end %>
