<h1>Editing page</h1>

<%= render :partial => 'form', :locals => { :page => @page } %>

<% content_for :resource_actions do %>
  <%= link_button t(:show),"button small", @page %>
  <%= link_button t(:back),'button back small', pages_path %>
<% end %>