<h1>Editing page</h1>

<%= render :partial => 'form', :locals => { :page => @page } %>

<% content_for :resource_actions do %>
  <%= link_button t(:show),"button read", @page %>
  <%= link_button t(:listing_pages),'button back', pages_path %>
<% end %>