<h1>Editing page</h1>

<%= render :partial => 'form', :locals => { :page => @page } %>

<% content_for :resource_actions do %>
  <%= ui_button 'read', t(:show), @page %>
  <%= ui_button 'back', t(:listing_pages), pages_path %>
<% end %>