#article
  = render @page
  
  - if @page.derived? && current_role?(:admin)
    - content_for :resource_actions do
      = ui_button nil, t(:derived_from,:title => @page.template.title), @page.template

