= form_for @user_notification do |f|
  .field
    =f.label :recipients, t(:recipients)
    =f.text_field :recipients
    
  .field
    =f.label :message
    =f.text_area :message
    
  .field
    =f.label :submit
    =f.submit t(:submit)
