OMNIAUTH_TWITTER_KEY      = 'hdTbiG27djergJi80Myzw'
OMNIAUTH_TWITTER_SECRET   = 'jmnblcozTMgxyOzMd6IBsMUsFIWYWT6d42weif'

OMNIAUTH_FACEBOOK_KEY     = '126195024101234'
OMNIAUTH_FACEBOOK_SECRET  = '58d8d09892f8d7d1934926e06834795b'

OMNIAUTH_LINKED_IN_KEY    = 'GBr4udEQ9VcZUD7jaOSdkErOfPbJCs9O4afOXLDoeCrnBealkGm9WAYRTBvh2GbI'
OMNIAUTH_LINKED_IN_SECRET = 'BvZUk-Mj1TY_B9JoTTX6I4b1234N8jVzjESNHLNbA9qX0VgO-I2KI_iTwqgpovA6'

OMNIAUTH_BASECAMP_ID      = '868ce26e020877c6df8aa70djerbdaf988ed6a7b'
OMNIAUTH_BASECAMP_SECRET  = '461eca0e256d5026d48561aslore957091fb5cba'

OMNIAUTH_GITHUB_ID        = 'd910cbcd8841b16bkdhf'
OMNIAUTH_GITHUB_SECRET    = 'bb945431c05ef4b7uerfb4e8edf63fdcf4ce9a87'

