# -*- encoding : utf-8 -*-

OMNIAUTH_OPENID           = true
OMNIAUTH_GOOGLE           = true

GOOGLE_PLACE_API_KEY      = 'YOUR_API_KEY_HERE'

OMNIAUTH_CAPATH           = "/etc/ssl/certs"

OMNIAUTH_TWITTER_KEY      = 'YOUR_OMNIAUTH_TWITTER_KEY'
OMNIAUTH_TWITTER_SECRET   = 'YOUR_OMNIAUTH_TWITTER_SECRET'

OMNIAUTH_FACEBOOK_KEY     = 'YOUR_OMNIAUTH_FACEBOOK_KEY'
OMNIAUTH_FACEBOOK_SECRET  = 'YOUR_OMNIAUTH_FACEBOOK_SECRET'

OMNIAUTH_LINKED_IN_KEY    = 'YOUR_OMNIAUTH_LINKED_IN_KEY'
OMNIAUTH_LINKED_IN_SECRET = 'YOUR_OMNIAUTH_LINKED_IN_SECRET'

OMNIAUTH_BASECAMP_ID      = 'YOUR_OMNIAUTH_BASECAMP_ID'
OMNIAUTH_BASECAMP_SECRET  = 'YOUR_OMNIAUTH_BASECAMP_SECRET'

OMNIAUTH_GITHUB_ID        = 'YOUR_OMNIAUTH_GITHUB_ID'
OMNIAUTH_GITHUB_SECRET    = 'YOUR_OMNIAUTH_GITHUB_SECRET'

