- title t(:manage_site_menus)     

- content_for :resource_actions do
    %div{:style => 'margin-right: 15px;'}
        = link_to t(:add_new_menu), new_site_menu_path, :class => 'button add'
  
- jsort(@site_menus,'site_menu',"/site_menus/sort_menus") do |item|
    = render item