<li><%= menu_link_to t("menu.home"), root_path %></li>

<% if can? :read, Page %>
  <% for page in @top_pages %>
    <li><%= menu_link_to page.short_title, page %></li>
  <% end %>
<% end %>

<% if can? :read, User %>
  <li><%= menu_link_to t("menu.userlist"), registrations_path %></li>
<% end %>

