/* -*- encoding : utf-8 -*- */
/**** Version Juli 9, 2011 */


@import "constants.css.scss";
@import "errors.css.scss";
@import "banner_and_session.css.scss";
@import "menus.css.scss";
@import "container.css.scss";
@import "googlesearch.css.scss";
@import "highlighting.css.scss";
@import "templates.css.scss";
@import "overlay.css.scss";

h1, h2, h3, h4, h5, h6 {
  font-family: $font-text;
  color: $color-header;
}

address { font-style: normal; }

a {
  font-family: $font-text;
  text-decoration: none;
  color: $color-text;
  img {
    border: none;
    padding: 0px;
  }
	&:hover {
	  border-bottom: 1px solid $color-link;
	}
}

code {
  background: #eee;
  padding: 3px;
  border: 1px solid #ddd;
  line-height: 170%;
  margin: 0px;
  min-width: 400px;
}

#gallery_controller {
  opacity: 0.8;
  background: #444;
  padding: 10px;
  border: 1px solid #444;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.asset_preview {
  width: 200px;
  overflow: hidden;
}

.user_edit p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

.user_edit address {
  margin-left: 210px;
}

label {
  width: 200px;
  float: left;
}

input {
  display: inline;
}

#error_explanation {
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 10px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.actions {
  margin-top: 5px;

}

.field {
  margin-bottom: 5px;
}

.field_with_errors {
  color:  #95150B;
  padding: 0px;
  margin: 0px;
}

#userlist {
	img {
	  float: left;
	  padding: 0px;
	  margin-left: 10px;
	  margin-right: 20px;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border: 1px solid #ddd;
	  width: 64px;
	  height: 64px;
	}
}

.user_detail {
  list-style-type: none;
  margin-left: 100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.user_detail li {
  margin: 5px;
  padding: 5px;
}

.admin {
  background: #E1B6B9;
  padding: 1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #ddd;
}

#copyright {
  clear: both;
  margin-top: 5px;
  text-align: center;
  color: #444;
  font-size: 0.5em;

	a {
	  color: #444;
	  text-decoration: none;
	}
}

#action_buttons {

  font-weight: 100;
  font-size: 0.7em;
   position: fixed;
   top: 0px; right: 10px;
   z-index: 3;
}

#action_buttons a:hover {
  background: #008300;
  color: #FFF270;
}

#action_buttons a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 5px;
  margin-top: 0px;
  padding: 5px;
  background: #006800;
  float: right;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 0px 0px 2px 2px #444;
}


.pagination {

  text-align: center;
  border: none;
  margin-top: 5px;
  margin: 5px;
  padding: 5px;
  height: 25px;

  .current {
    border-radius: 5px;
    background: #8B8B8B;
    color: white;
    height: 20px;
    padding: 5px;
  }

  em {
    font-style: normal;
    border-radius: 5px;
    background: #8B8B8B;
  }

  a.prev_page, a.next_page, a {
    text-decoration: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
  }

  a:hover.prev_page, a:hover.next_page, a:hover {
    text-decoration: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
  }

}


.comment {
  margin-top: 25px;
  margin-bottom: 5px;
  background: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  font-size: 0.8em;
}

.comment_avatar {
  margin-top: 5px;
  width: 64px;
  height: 64px;
  border: 1px solid #ddd;
  padding: 0px;
  margin-right: 10px;
  float: left;
}

.comment_content {
  margin-left: 74px;
}

#comments {
  clear: both;

	p {
	  margin: 0px;
	  margin-bottom: 5px;
	}

	address {
	  margin: 0px;
	  margin-bottom: 5px;
	  margin-top: 5px;
	  font-size: 0.8em;
	  font-style: normal;
	  line-height: 100%;
	}
}

#container address.new_comment,
#comments address.new_comment {
  color: #1C5A98;
  font-size: 0.8em;
  font-style: normal;
  line-height: 100%;
}

#container address.old_comment,
#comments address.old_comment {
  font-size: 0.8em;
  color: #B3B3B3;
  line-height: 100%;
  font-style: normal;
}

.page_intro {
  clear: both;
}

.page_intro .cover_picture {
  float: right;
  overflow: auto;
  margin: 5px;
  margin-right: 0px;
}

.top_right_box {
  position: relative;
  right: -10px;
  top: -40px;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 300px;
  float: right;
  padding: 10px;
  background: #eee;
  text-align: center;
  vertical-align: middle;
  z-index: 0;
}

.right_box {
  margin: 20px;
  margin-top: 0px;
  margin-right: 0px;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 300px;
  float: right;
  padding: 10px;
  background: #eee;
  text-align: center;
  vertical-align: middle;
}

.twtr-widget.twtr-widget-profile {
  z-index: 0;
}

.new_comments {
  color: #1C5A98;
  display: inline;
}

.cover_picture {
  clear: right;
  height: auto;
  overflow: wrap;
  float: right;
}

#container .blog_intro img,
#container .cover_picture img,
#container #posting .cover_picture img,
#container #postings .cover_picture img {
  float: right;
  padding: 0px;
  margin-right: 10px;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
}

.posting_comment_links {
  font-size: 0.7em;
  line-height: 150%;
}

#posting_body,
#posting_body a {
  line-height: 150%;
  font-family: Verdana, Arial, Helvetica, sans-seriv;
}

.green_button {
  -moz-box-shadow: 3px 3px 3px #888;
  -webkit-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888;
  font-weight: 100;
}

.item_link_buttons {
 margin: 0px;
 padding: 0px;
}

.item_link_buttons a {
  display: inline;
  text-decoration: none;
  color: #444;
  background: #EAECEE;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #DDDFE2;
  font-size: 0.8em;
}

#container
a.green_button {
  display: inline;
  text-decoration: none;
  color: white;
  margin: 0px;
  padding: 5px;
  background: #1B5412;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 0.75em;
}

a.green_button:hover,
.item_link_buttons a:hover {
  background: #800000;
  color: white;
}

.blog_intro h1 {
  margin-bottom: 5px;
}

.blog_intro address {
  font-style: normal;
}

.right_column {
  width: 37%;
  float: right;
  padding-left: 30px;
  font-size: 0.6em;
}

.comments_counter {
  color: #B3B3B3;
}

.insert_attachment,
.before_save_button {
  clear: both;
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.load_more {
  clear: both;
  width: 100%;
}

li.load_more {
  width: auto;
}

#load_more_link  {
  display: block;
  padding: 5px;
  font-weight: bold;
  background: #DADADA;
  border: 1px solid #C8C8C8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.page_body {
  line-height: 150%;
}

.edit_page {
  border: 1px solid #C8C8C8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.8em;
}

.edit_page #attachments {
  font-size: 0.75em;
  font-weight: 100;
}

.page_seperator {
  clear: both;
  border-top: 1px solid #ddd;
  text-align: center;
}

.first_language_selector {
 border-left: 1px solid #5C5C5C;
 margin-left: 10px;
 font-size: 0.9em;
}

.language_selector {
}

#user_notifications {
  margin-top: 10px;
  border: 1px solid #ddd;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: #F5EC4B;
  color: black;
  font-size: 0.8em;
  margin-top: 5px;
  padding: 0px;

  ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    li {
      margin-top: 10px;
      margin-left: 5px;
    }
  }
}

#site-menus-list {
  list-style: none;
}

.site_menu_entry {
  margin-top: 20px;
  list-style: none;
}

.site_menu_manage_buttons {
  font-size: 0.75em;
}

.without_shadow {
  box-shadow: none;
  width: 64px;
  height: 64px;
}