.google-search {
  position: fixed;
  top: 120px;
  left: 0px;
  right: 0px;
  height: 45px;
  margin: 0px;
  background: #EAECEE;
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 4px 4px 4px #444;
}

.google-search-form {

}
