#overlay_controller {
  text-align: center;
  position: fixed;
  bottom: 30px;
  left: 30px;
  right: 30px;
  z-index: 100;
}

#overlay {
  position: fixed;
  _position: absolute; /* hack for internet explorer 6*/
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  vertical-align: middle;
  text-align: center;
  z-index: 9999;
  display: none;
  border: 5px solid #ddd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #FAFAFA;

	.close_icon img {
	  border: none;
	  float: left;
	  margin: 0px;
	  padding: 0px;
	  margin-top: 10px;
	  margin-left: 10px;
	  width: 20px;
	  height: 20px;
	}

	#overlay_content {
	  img {
	    -moz-border-radius: 15px;
	    -webkit-border-radius: 15px;
	  }
    
	  a {
	    background: none;
	    border: 0px;
	  }
  }
}

#overlay_content {
  padding: 20px;
  margin-top: 0px;
  z-index: 5;
  opacity: 1.0;
  filter:alpha(opacity=100); /* Internet Explorer */
}