$side-tab-width: $sidebar-width - 20;
$side-tab-height: 50px;

.side-tab {
  margin-left: -1 * ($side-tab-width + 21);
  margin-top: $side-tab-height / 2;
  float: left;
  width: $side-tab-width;
  min-width: $side-tab-width;
  height: $side-tab-height;
  
  .comment-links {
    overflow: hidden;
    z-index: 10;
    height: $side-tab-height;
    background: $hud-background;
    margin: 0px;
    padding-left: 5px;
    width: $side-tab-width -5;
    @include button-shape($radius-small);
    border-radius: $radius-small 0 0 $radius-small;
    border: 1px solid $color-shadow;
    border-right: none;
  }
  
}

.side-tab-content {
 overflow: auto;
}