$side-tab-width: $sidebar-width - 15;
$side-tab-height: 38px;

.side-tab {
  padding: 0px;
  padding-top: 5px;
  margin-left: -1 * ($side-tab-width + 21);
  margin-top: $side-tab-height / 2 - 30;
  float: left;
  width: $side-tab-width;
  min-width: $side-tab-width;
  max-width: $side-tab-width;
  height: $side-tab-height;
  text-align: center;
  
  .comment-links {
    overflow: hidden;
    z-index: 1001;
    height: $side-tab-height;
    background: $hud-background;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 5px;
    width: $side-tab-width - 5;
    @include button-shape($radius-small);
    border-radius: $radius-small 0 0 $radius-small;
    border: 1px solid $color-shadow;
    border-right: none;
  }
  
}

.side-tab-content {
 overflow: visible;
 p {
   a {
     @include standard-link;
   }
 }
}

#posting {
  #posting_body {
    a {
      @include standard-link;
    }
  }
}

.online {}
.prerelease { 
  background: url('/images/prerelease_badge.png') top left no-repeat;
}
.expired { 
  background: url('/images/expired_badge.png') top left no-repeat;
}

.tags {
  color: #aaa;
  font-size: 0.75em;
  margin-top: 0px;
  margin-bottom: 5px;
}
