<%= APPLICATION_CONFIG['name'].html_safe -%>
<%= (
      APPLICATION_CONFIG['slogan'] || \
      ("PLEASE DEFINE SLOGAN IN application YAML "+
      "<span style='font-face: Courier new; font-style: normal; "+
      "font-weight: bold;'>APPLICATION_CONFIG['slogan']</span>")
    ).html_safe
-%>

